<div class="container" id="quote">
    <li *ngFor="let quote of quotes;let i = index">
        <h1>Created on:{{ quote.createdDate|date|uppercase }}. </h1>
        <p>{{ quote.quote }}</p>
        <h2>{{ quote.createdDate|dateCount}} days old</h2>
        <button (click)='toggleDetails(i)'>About</button>
        <div>
            <app-quote-detail *ngIf='quote.showDescription' [quoteAuthor]='quote ' (isComplete) = 'completeGoal($event,i)'></app-quote-detail>
        </div>
        <p appUpvote>Likes:{{ quote.upVote }}</p>
        <p appDownvote>Dislikes:{{ quote.downVote }}</p>
        <hr>
    </li>
</div>
<div class="container">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
