<div class="container-fluid">
    <h2 class="text-center">Post Your Favourite Quote Here</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="quote">Quote</label>
            <textarea class="form-control" [(ngModel)]="newQuote.quote"[ngModelOptions]="{standalone: true}" id="description" rows="4" required></textarea>
  
        </div>

        <div class="form-group">
  
            <label for="name">Posted By</label>
            <input type="text" required class="form-control" [(ngModel)]="newQuote.quoteAuthor" [ngModelOptions]="{standalone: true}" id="name" placeholder="John Doe">
  
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
  </div>
